.payment-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: "Arial", sans-serif;
}

.payment-container h2 {
  text-align: center;
  color: #4f86fe;
  margin-bottom: 20px;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus {
  border-color: #4f86fe;
  outline: none;
}

.payment-success {
  padding: 15px;
  background-color: #14e31b;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  width: 40%;
}

.payment-failure {
  padding: 15px;
  background-color: #f42b2b;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  width: 40%;
}

.payment-success:hover {
  background-color: #3bc452;
}
.payment-failure:hover {
  background-color: #c43b40;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .payment-container {
    padding: 15px;
  }

  .form-group input {
    font-size: 14px;
  }

  .payment-success {
    font-size: 14px;
  }
}
